@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  background-color: #f3f3f3; /* Fallback color */
  background-image: 
    linear-gradient(to right, #bdc3c7 1px, transparent 1px),
    linear-gradient(to bottom, #bdc3c7 1px, transparent 1px);
  background-size: 20px 20px;
}
